#title{
    background-image: url("https://cutewallpaper.org/21/weights-backgrounds/Background-view-back-and-white-equipment-dumbbells-on-rack-.jpg");
    height: 85vh;
    /* height: 100%; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;    
}
a{
    font-weight: bold;
    font-size: 2.5rem;
    font-family: 'Ubuntu';    
}
.navbar{
    padding-bottom: 3.5rem;
}
.nav-item{
    padding: 0 18px;
}
h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
}
.container-fluid{
    padding:2%;
}
#features{
    padding: 7% 15%;
    background-color: #fff;
    z-index: 1;
}
.feature-class{
    text-align: center;
    padding:5%;
}
h3{
    font-family: 'Montserrat';
    font-size: 1.5rem;
}
p{
    color: #8f8f8f;
}
.icon{
    color:#8f8f8f;
    margin-bottom: 2rem;
}
.icon:hover{
    color:black;
}
#pricing{
    background-color: #0c0e11;
    padding:100px;
    text-align: center;
}
.pricingcol{
    padding:3% 2%;
}
.text{
    font-family: 'Montserrat';
}
#cta{
    padding:100px;
    text-align: center;
}
#footer{
    padding:100px;
    text-align: center;
}
.icons{
    color: #0c0e11;
    padding: 3px;
}
